﻿@model AutoShow.Models.Vehicle
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card shadow text-center p-2">
               <img src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" height="200" width="350" class="rounded-pill m-auto"/>
               <div class="card-body">
                   <h3 class="card-title m-2">@Model.Name</h3>
                   <p class="card-text m-0">Type : @Model.Type</p>
                   <p class="card-text m-0">Colour : @Model.Colour</p>
                   <p class="card-text m-0">Price : @Model.Price</p>
                   <p class="card-text m-0">Brand : @Model.Brand.Name</p>
                   <p class="card-text m-0">Owner : @Model.ApplicationUser.UserName</p>
                   <p class="card-text m-0">Contact : @Model.ApplicationUser.Mobile</p>
                   <a class="btn btn-primary m-3" href="tel:+91 7409065123">Call Seller</a>
               </div>
            </div>
        </div>
    </div>
    <div>
        <a class="btn btn-danger" asp-action="Index">Go Back</a>
    </div>
</div>