﻿@model IEnumerable<AutoShow.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
     
     <h1>Index</h1>
     <p>
        <a asp-action="Add">Create New</a>
     </p>
     
     <div class="container pt-3">
         @foreach (var item in Model)
         {
             <div class="row media mt-3 shadow">
                 <div class="col-sm-3 d-flex justify-content-center">
                     <img class="card-img" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" height="150" width="200" />
                 </div>
                 <div class="col-sm-9 media-body align-content-end text-center">
                     <h3 class="card-title m-0">@item.Name</h3>
                     <p class="card-text m-0">@item.Price</p>
                     <p class="card-text m-0">@item.Colour</p>
                     <p class="card-text m-0">@item.Type</p>
                     <p class="card-text m-0">@item.Brand.Name</p>
                     <a class="stretched-link" asp-controller="Vehicle" asp-action="Detail" asp-route-id="@item.Id"></a>
                 </div>
             </div>
         }
     </div>

</div>