﻿@page
@model AutoShow.Areas.Identity.Pages.Account.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="container-fluid pt-5 bg-success">
    <div class="row pt-3">
        <div class="card d-flex bg-transparent m-auto border-0">
            <img class="rounded-circle m-auto" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" height="100" width="100"/>
            <div class="card-body text-center p-0">
              <h4 class="card-title">@Model.Input.UserName</h4>
            </div>
        </div>
    </div>
    
</div>
<div class="container pt-3">
    @foreach (var item in Model.Vehicle)
    {
        <div class="row media mt-3 shadow">
            <div class="col-sm-3 d-flex justify-content-center">
                <img class="card-img" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" height="150" width="200" />
            </div>
            <div class="col-sm-9 media-body align-content-end text-center">
                <h3 class="card-title m-0">@item.Name</h3>
                <p class="card-text m-0">@item.Price</p>
                <p class="card-text m-0">@item.Colour</p>
                <p class="card-text m-0">@item.Type</p>
            </div>
        </div>
    }
</div>