﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AutoShow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top bg-transparent" style="z-index:5;">
            <div class="navbar-brand">
                <a asp-action="Index" asp-controller="Home">AutoShow</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navSupportContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-end">
                <ul class="navbar-nav text-white">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Vehicle" asp-action="Index">Vehicle</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Brand" asp-action="Index">Brands</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Index">Users</a>
                    </li>
                    }
                    <partial name="_LoginPartial" />
                </ul>
                <form class="form-inline d-inline-flex" method="post" href="http://google.com/">
                    <input class="form-control OneLine" placeholder="Search" />
                    <button type="submit" class="bg-transparent p-1 border-0"><i class="fa fa-search" style="font-size:20px;color:white"></i></button>
                </form>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
                @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AutoShow - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
