﻿@using Microsoft.AspNetCore.Identity
@using AutoShow.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item mr-5">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Profile" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item mr-5">
                <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Profile" title="Manage">Profile</a>
            </li>
            <li class="nav-item mr-5">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item mr-5">
                <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item mr-5">
                <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
