@{
    ViewData["Title"] = "Home Page";
}

<div class="mb-5">
    <div id="carouselExampleIndicators" class="carousel slide d-flex" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-caption align-content-center">
            <h1 class="display-2">Welcome</h1>
            <h3 class="display-4">To The AutoShow</h3>
            <h5 class="display-5">Feel The Race</h5>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" alt="First-Slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://images.hdqwalls.com/download/lamborghini-aventardor-svj-4k-7z-2048x1152.jpg" alt="Second-Slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://images.hdqwalls.com/download/lamborghini-aventador-svj-2019-5k-dr-2048x1152.jpg" alt="Third-Slide" />
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://images.hdqwalls.com/download/lamborghini-aventador-svj-2018-0f-2048x1152.jpg" alt="Fourth-Slide" />
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" rolw="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">next</span>
        </a>
    </div>
</div>
<div class=" container-fluid bg-light">
    <div class="card-deck mb-5">
        <div class="card shadow">
            <img class="card-header card-img-top" src="https://images.hdqwalls.com/download/lamborghini-aventador-svj-2018-0f-2048x1152.jpg" alt="image" />
            <div class="card-body">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">Card-display of all categories of Available vehicle like car, bike etc.</p>
                <a asp-controller="Vehicle" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-header card-img-top" src="https://images.hdqwalls.com/download/lamborghini-aventardor-svj-4k-7z-2048x1152.jpg" alt="image" />
            <div class="card-body">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">Card-display of all categories of Available vehicle like car, bike etc.</p>
                <a asp-controller="Vehicle" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-header card-img-top" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" alt="image" />
            <div class="card-body">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">Card-display of all categories of Available vehicle like car, bike etc.</p>
                <a asp-controller="Vehicle" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="card-deck mb-5">
        <div class="card shadow">
            <img class="card-header card-img-top" src="https://images.hdqwalls.com/download/lamborghini-aventador-svj-2018-0f-2048x1152.jpg" alt="image" />
            <div class="card-body">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">Card-display of all categories of Available vehicle like car, bike etc.</p>
                <a asp-controller="Vehicle" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-header card-img-top" src="https://images.hdqwalls.com/download/orange-lambo-aventador-5k-5j-2048x1152.jpg" alt="image" />
            <div class="card-body">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">Card-display of all categories of Available vehicle like car, bike etc.</p>
                <a asp-controller="Vehicle" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
        <div class="card shadow">
            <img class="card-header card-img-top" src="https://images.hdqwalls.com/download/lamborghini-aventardor-svj-4k-7z-2048x1152.jpg" alt="image" />
            <div class="card-body">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">Card-display of all categories of Available vehicle like car, bike etc.</p>
                <a asp-controller="Vehicle" asp-action="Index" class="stretched-link"></a>
            </div>
        </div>
    </div>
</div>