﻿@model AutoShow.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3>@Html.DisplayFor(model => model.UserName)</h3>
                <h5>@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h5>
                <p>@Html.DisplayFor(model => model.Mobile)</p>
                <p>@Html.DisplayFor(model => model.City),@Html.DisplayFor(model => model.State),@Html.DisplayFor(model => model.Country)</p>
            </div>
        </div>
        <div>
            <a asp-action="Index">Go Back</a>
        </div>
</div>