﻿@model IEnumerable<AutoShow.Models.ApplicationUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.UserName)</th>
                <th>@Html.DisplayNameFor(m => m.FirstName)</th>
                <th>@Html.DisplayNameFor(m => m.LastName)</th>
                <th>@Html.DisplayNameFor(m => m.Mobile)</th>
                <th>@Html.DisplayName("Address")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
            <tr>
                <td>@Html.DisplayFor(model => user.UserName)</td>
                <td>@Html.DisplayFor(model => user.FirstName)</td>
                <td>@Html.DisplayFor(model => user.LastName)</td>
                <td>@Html.DisplayFor(model => user.Mobile)</td>
                <td>
                    @Html.DisplayFor(model => user.City),
                    @Html.DisplayFor(model => user.State),
                    @Html.DisplayFor(model => user.Country)
                </td>
            <td>@Html.ActionLink("Detail", "Detail", new { id = user.Id })</td>
            </tr>
            }
        </tbody>
    </table>
</div>
